body {
    height: 500px;
    justify-content: center;
    align-items: center;
}


.element {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: 500px;

}


.element:hover {
    animation: mouse 1s ease;
}

@keyframes mouse {

    0% {
        background-color: rgb(13, 13, 13);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}