body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.circulo {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  
  .circulo:hover {
    border-radius: 0;
    height: 100px;
  }
  .voltar {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-decoration: none;
    padding: 10px 20px;
    border: 1px;
    border-radius: 5px;
    transition: 0.5 color black;
  }

  